header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  color: #FFFFFF;
  background-color: brown;
  background-image: url(/images/dark-wood.png);
}
