


nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  padding: 1.5em;
  padding-right: 1.5em;
}

.navLeft {
  align-items: center;
}

.navName {
  font-family: "Bungee", serif;
  font-size: 200%
}
.navRight {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.angleDown {
  color: #FFFFFF;
}