.new-tweet {
  display: flex;
  flex-direction: column;
  width: inherit;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.formBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  font-family: "Bungee", serif;
  color: #FFFFFF;
}

textarea {
  outline: 0;
  border-width: 0 0 2px;
}

.tweet-button:hover {
  background-color: hwb(235 19% 37%);
  color: blanchedalmond;
}

.over-limit {
  color: red;
}
