.tweet {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  width: 500px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
  transition: box-shadow 0.3s ease;
}

.tweet:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.tweet-header img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.tweet-user-info {
  display: flex;
  flex-direction: column;
}

.tweet-user-info h2 {
  margin: 0;
  font-size: 18px; /* Adjust the font size as needed */
}

.tweet-user-info p {
  margin: 0;
  color: #657786;
  font-size: 14px; /* Adjust the font size as needed */
}

.tweet-content {
  font-size: 16px;
  margin-bottom: 12px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-icons i {
  margin-right: 16px;
  color: #657786;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tweet-icons i:hover {
  color: #1da1f2;
}

.tweet-time {
  color: #657786;
  font-size: 14px;
}
